.img{
    width: 100%;
    height: auto;
}

.contenedor1{
    position: relative;
    text-align: center;
}

.btn-back{
    position: absolute;
    top: 42%;
    left: 12%;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #ff5e00;
    color: #fff;
    border: none;
    border-radius: 5px;
    width: 20vw;
    height: 6vh;
}


@media (max-width: 784px) {
    .btn-back{
        padding: 4px;
    }
  }

  @media (max-width: 624px) {
    .btn-back{
        padding: 4px;
        font-size: 14px;
    }
  }

  @media (max-width: 300px) {
    .btn-back{
        padding: 4px;
        font-size: 12px;
    }
  }
 
<<<<<<< HEAD:css/detailpage.css
  .btn-color {
    color: #fcfcfc;
    background-color: #ff5e00;
    border: #ff5e00;
    cursor: pointer;
    /* Cambia el color de fondo al pasar el cursor */
  }

  .btn-color:hover{
    color: #ff5e00;
    background-color: #fcfcfc;
    border: #ff5e00 solid 1px;
  }
=======
>>>>>>> 1cf85073c46c8d8f62479383d67fef7d7c1b8403:css/style.css
