
.favorite{
    min-height: 80vh;
    max-width: 1000px;
    margin: 0 auto;
    width: 100%;
     }
     
  .table__productos{
    display: flex;
    align-items:center; 
  font-size: 14px;
  font-weight: 500;
  }


  .table__productos > img{
    width: 9rem;
    height: 12rem;
    object-fit: contain;
    border-radius: 6px;
    margin-right: 6px;
  }

  /* Estilo adicional para dispositivos pequeños */
@media (max-width: 576px) {
  .table__productos {
      flex-direction: column;
      align-items: center;
      text-align: center;
  }

  .table__productos > img {
      margin-right: 0;
      margin-bottom: 10px;
      width: 5rem;
      height: 7rem;
  }

  .title {
      margin-top: 5px;
  }
}

@media (max-width: 576px) {
  .code {  
      display: none;
  }
}
@media (max-width: 576px) {
  .hide-on-small {
      display: none;
  }
}

  @media (max-width: 285px) {
    .hide-on-smal {
        display: none;
    }
  

  .table__price,
  .table__price p {
      display: none;
  }
}
/* Estilo adicional para dispositivos más pequeños */
@media (max-width: 280px) {
  .table__productos > img {
    width: 4rem; 
  }

  @media (max-width: 280px) {
    .table__price,
  .table__price p {
        display: none; 
    }
}

  .table__cantidad button {
    font-size: 10px; 
    padding: 3px 6px; 
  }
}


.btn_compra {
  color: #ff5e00;
}